<div
  [ngStyle]="{ 'border-left': contador < 0 ? '1px solid red' : '1px solid green' }"
  [ngClass]="'alert'"
  [ngClass]="{ 'alert-success': contador > 5 }"
  [ngClass]="{ 'alert-warning': contador < 5 }"
  [ngClass]="{ 'alert-error': contador < 0 }">
  {{ contador }}
</div>

<div *ngIf="contador > 5; else menorQue5">Contador maior que 5</div>

<ng-template #menorQue5>
  <div>Menor que 5</div>
</ng-template>

<button (click)="aumentar()" class="btn btn-primary">+</button>
<button (click)="diminuir()" class="btn btn-warning">-</button>
